{{ define "feed_menu" }}
<ul>
    <li>
        <a href="{{ route "feeds" }}">{{ icon "feeds" }}{{ t "menu.feeds" }}</a>
    </li>
    <li>
        <a href="{{ route "addSubscription" }}">{{ icon "add-feed" }}{{ t "menu.add_feed" }}</a>
    </li>
    <li>
        <a href="{{ route "export" }}">{{ icon "feed-export" }}{{ t "menu.export" }}</a>
    </li>
    <li>
        <a href="{{ route "import" }}">{{ icon "feed-import" }}{{ t "menu.import" }}</a>
    </li>
    <li>
        <a href="{{ route "refreshAllFeeds" }}">{{ icon "refresh" }}{{ t "menu.refresh_all_feeds" }}</a>
    </li>
</ul>
{{ end }}
