Source: miniflux
Maintainer: Frederic Guillot <f@miniflux.net>
Build-Depends: debhelper (>= 9.20160709) | dh-systemd

Package: miniflux
Architecture: __PKG_ARCH__
Section: web
Priority: optional
Description: Minimalist Feed Reader
 Miniflux is a minimalist and opinionated feed reader
Homepage: https://miniflux.app
Depends: ${misc:Depends}, ${shlibs:Depends}, adduser
