#!/usr/bin/make -f

DESTDIR=debian/miniflux

%:
	dh $@ --with=systemd

override_dh_auto_clean:
override_dh_auto_test:
override_dh_auto_build:
override_dh_auto_install:
	cp miniflux.conf $(DESTDIR)/etc/miniflux.conf
	cp miniflux $(DESTDIR)/usr/bin/miniflux

override_dh_installinit:
	dh_installinit --noscripts
