{{ define "title"}}{{ t "page.categories.title" }} ({{ .total }}){{ end }}

{{ define "page_header"}}
<section class="page-header" aria-labelledby="page-header-title page-header-title-count">
    <h1 id="page-header-title" dir="auto">
        {{ t "page.categories.title" }}
        <span aria-hidden="true"> ({{ .total }})</span>
    </h1>
    <span id="page-header-title-count" class="sr-only">{{ plural "page.categories_count" .total .total }}</span>
    <nav aria-label="{{ t "page.categories.title" }} {{ t "menu.title" }}">
        <ul>
            <li>
                <a href="{{ routePath "/category/create" }}">{{ icon "add-category" }}{{ t "menu.create_category" }}</a>
            </li>
        </ul>
    </nav>
</section>
{{ end }}

{{ define "content"}}
{{ template "item_list" dict "items" .items "emptyMessageKey" "alert.no_category" "emptyAlertClass" "alert-error" }}
{{ end }}
