{{ define "title"}}{{ .category.Title }} &gt; {{ t "page.feeds.title" }} ({{ .total }}){{ end }}

{{ define "page_header"}}
<section class="page-header" aria-labelledby="page-header-title">
    <h1 id="page-header-title" dir="auto">
        {{ .category.Title }} <span aria-hidden="true">&gt;</span> {{ t "page.feeds.title" }}
        <span aria-hidden="true"> ({{ .total }})</span>
    </h1>
    <span class="sr-only">{{ plural "page.categories.feed_count" .total .total }}</span>
    <nav aria-label="{{ .category.Title }} {{ t "page.feeds.title" }} {{ t "menu.title" }}">
        <ul>
            <li>
                <a class="page-link" href="{{ route "categoryEntries" "categoryID" .category.ID }}">{{ icon "entries" }}{{ t "menu.feed_entries" }}</a>
            </li>
            <li>
                <a class="page-link" href="{{ route "editCategory" "categoryID" .category.ID }}">{{ icon "edit" }}{{ t "menu.edit_category" }}</a>
            </li>
            {{ if eq .total 0 }}
            <li>
                <button
                    class="page-button"
                    data-confirm="true"
                    data-label-question="{{ t "confirm.question" }}"
                    data-label-yes="{{ t "confirm.yes" }}"
                    data-label-no="{{ t "confirm.no" }}"
                    data-label-loading="{{ t "confirm.loading" }}"
                    data-redirect-url="{{ route "categories" }}"
                    data-url="{{ route "removeCategory" "categoryID" .category.ID }}"
                >
                    {{ icon "delete" }}{{ t "action.remove" }}
                </button>
            </li>
            {{ end }}
            <li>
                <form
                    class="page-header-action-form"
                    action="{{ route "refreshCategoryFeedsPage" "categoryID" .category.ID }}"
                >
                    <button
                        class="page-button"
                        data-label-loading="{{ t "confirm.loading" }}"
                    >
                        {{ icon "refresh" }}{{ t "menu.refresh_all_feeds" }}
                    </button>
                </form>
            </li>
        </ul>
    </nav>
</section>
{{ end }}

{{ define "content"}}
{{ if not .feeds }}
    <p role="alert" class="alert">{{ t "alert.no_feed_in_category" }}</p>
{{ else }}
    {{ template "feed_list" dict "user" .user "feeds" .feeds "ParsingErrorCount" .ParsingErrorCount }}
{{ end }}

{{ end }}
