{{ define "title"}}{{ t "page.history.title" }} ({{ .total }}){{ end }}

{{ define "page_header"}}
<section class="page-header" aria-labelledby="page-header-title page-header-title-count">
    <h1 id="page-header-title">
        {{ t "page.history.title" }}
        <span aria-hidden="true">({{ .total }})</span>
    </h1>
    <span id="page-header-title-count" class="sr-only">{{ plural "page.read_entry_count" .total .total }}</span>
    <nav aria-label="{{ t "page.history.title" }} {{ t "menu.title" }}">
        <ul>
            {{ if .entries }}
            <li>
                <button
                    class="page-button"
                    data-confirm="true"
                    data-url="{{ route "flushHistory" }}"
                    data-label-question="{{ t "confirm.question" }}"
                    data-label-yes="{{ t "confirm.yes" }}"
                    data-label-no="{{ t "confirm.no" }}"
                    data-label-loading="{{ t "confirm.loading" }}">{{ icon "delete" }}{{ t "menu.flush_history" }}</button>
            </li>
            {{ end }}
            <li>
                <a class="page-link" href="{{ route "sharedEntries" }}">{{ icon "share" }}{{ t "menu.shared_entries" }}</a>
            </li>
        </ul>
    </nav>
</section>
{{ end }}

{{ define "content"}}
{{ if not .entries }}
    <p role="alert" class="alert alert-info">{{ t "alert.no_history" }}</p>
{{ else }}
    <div class="pagination-top">
        {{ template "pagination" .pagination }}
    </div>
    <div class="items">
        {{ range .entries }}
        <article
            class="item entry-item {{ if $.user.EntrySwipe }}entry-swipe{{ end }} item-status-{{ .Status }}"
            data-id="{{ .ID }}"
            aria-labelledby="entry-title-{{ .ID }}"
            tabindex="-1"
        >
            <header class="item-header" dir="auto">
                <h2 id="entry-title-{{ .ID }}" class="item-title">
                    <a href="{{ route "readEntry" "entryID" .ID }}">
                        {{ if ne .Feed.Icon.IconID 0 }}
                        <img src="{{ route "icon" "iconID" .Feed.Icon.IconID }}" width="16" height="16" loading="lazy" alt="">
                        {{ end }}
                        {{ .Title }}
                    </a>
                </h2>
                <span class="category">
                    <a href="{{ route "categoryEntries" "categoryID" .Feed.Category.ID }}">
                        {{ .Feed.Category.Title }}
                    </a>
                </span>
            </header>
            {{ template "item_meta" dict "user" $.user "entry" . "hasSaveEntry" $.hasSaveEntry  }}
        </article>
        {{ end }}
    </div>
    <div class="pagination-bottom">
        {{ template "pagination" .pagination }}
    </div>
{{ end }}

{{ end }}
