{{ define "title"}}{{ t "page.unread.title" }} {{ if gt .countUnread 0 }}({{ .countUnread }}){{ end }} {{ end }}

{{ define "page_header"}}
<section class="page-header" aria-labelledby="page-header-title page-header-title-count">
    <h1 id="page-header-title">
        {{ t "page.unread.title" }}
        <span aria-hidden="true">(<span class="unread-counter">{{ .countUnread }}</span>)</span>
    </h1>
    <span id="page-header-title-count" class="sr-only">{{ plural "page.unread_entry_count" .countUnread .countUnread }}</span>
    {{ if .entries }}
    <nav aria-label="{{ t "page.unread.title" }} {{ t "menu.title" }}">
        <ul>
            <li>
                <button
                    class="page-button"
                    data-action="markPageAsRead"
                    data-show-only-unread="1"
                    data-label-question="{{ t "confirm.question" }}"
                    data-label-yes="{{ t "confirm.yes" }}"
                    data-label-no="{{ t "confirm.no" }}"
                    data-label-loading="{{ t "confirm.loading" }}">{{ icon "mark-page-as-read" }}{{ t "menu.mark_page_as_read" }}</button>
            </li>
            <li>
                <button
                    class="page-button"
                    data-confirm="true"
                    data-url="{{ route "markAllAsRead" }}"
                    data-redirect-url="{{ route "unread" }}"
                    data-label-question="{{ t "confirm.question" }}"
                    data-label-yes="{{ t "confirm.yes" }}"
                    data-label-no="{{ t "confirm.no" }}"
                    data-label-loading="{{ t "confirm.loading" }}">{{ icon "mark-all-as-read" }}{{ t "menu.mark_all_as_read" }}</button>
            </li>
        </ul>
    </nav>
    {{ end }}
</section>
{{ end }}

{{ define "content"}}
{{ if not .entries }}
    <p role="alert" class="alert">{{ t "alert.no_unread_entry" }}</p>
{{ else }}
    <div class="pagination-top">
        {{ template "pagination" .pagination }}
    </div>
    <div class="items hide-read-items">
        {{ range .entries }}
        <article
            class="item entry-item {{ if $.user.EntrySwipe }}entry-swipe{{ end }} item-status-{{ .Status }}"
            data-id="{{ .ID }}"
            aria-labelledby="entry-title-{{ .ID }}"
            tabindex="-1"
        >
            <header class="item-header" dir="auto">
                <h2 id="entry-title-{{ .ID }}" class="item-title">
                    <a href="{{ route "unreadEntry" "entryID" .ID }}">
                        {{ if ne .Feed.Icon.IconID 0 }}
                        <img src="{{ route "icon" "iconID" .Feed.Icon.IconID }}" width="16" height="16" loading="lazy" alt="">
                        {{ end }}
                        {{ .Title }}
                    </a>
                </h2>
                <span class="category">
                    <a href="{{ route "categoryEntries" "categoryID" .Feed.Category.ID }}">
                        {{ .Feed.Category.Title }}
                    </a>
                </span>
            </header>
            {{ template "item_meta" dict "user" $.user "entry" . "hasSaveEntry" $.hasSaveEntry }}
        </article>
        {{ end }}
    </div>
    <section class="page-footer">
        {{ if .entries }}
        <ul>
            <li>
                <button
                    class="page-button"
                    data-action="markPageAsRead"
                    data-label-question="{{ t "confirm.question" }}"
                    data-label-yes="{{ t "confirm.yes" }}"
                    data-label-no="{{ t "confirm.no" }}"
                    data-label-loading="{{ t "confirm.loading" }}"
                >
                    {{ icon "mark-page-as-read" }}{{ t "menu.mark_page_as_read" }}
                </button>
            </li>
        </ul>
        {{ end }}
    </section>
    <div class="pagination-bottom">
        {{ template "pagination" .pagination }}
    </div>
{{ end }}

{{ end }}
