{{ define "pagination" }}
{{ if .Show }}
<div class="pagination">
    {{ if .ShowPrev }}
    <div class="pagination-prev">
            <a href="{{ .Route }}{{ if gt .PrevOffset 0 }}?offset={{ .PrevOffset }}{{ if .SearchQuery }}&amp;q={{ .SearchQuery }}{{ end }}{{ else }}{{ if .SearchQuery }}?q={{ .SearchQuery }}{{ end }}{{ end }}" data-page="previous">{{ t "Previous" }}</a>
    </div>
    {{ end }}

    {{ if .ShowNext }}
    <div class="pagination-next">
            <a href="{{ .Route }}?offset={{ .NextOffset }}{{ if .SearchQuery }}&amp;q={{ .SearchQuery }}{{ end }}" data-page="next">{{ t "Next" }}</a>
    </div>
    {{ end }}
</div>
{{ end }}
{{ end }}
