/* Layout */
body {
    background: #222;
    color: #efefef;
}

h1, h2, h3 {
    color: #aaa;
}

a {
    color: #aaa;
}

a:focus,
a:hover {
    color: #ddd;
}

/* Header and main menu */
.header li {
    border-color: #333;
}

.header a {
    color: #ddd;
    font-weight: 400;
}

.header .active a {
    font-weight: 400;
    color: #9b9494;
}

.header a:focus,
.header a:hover {
    color: rgba(82, 168, 236, 0.85);
}

/* Page header */
.page-header h1 {
    border-color: #333;
}

/* Logo */
.logo a:hover span {
    color: #555;
}

/* Tables */
table, th, td {
    border: 1px solid #555;
}

th {
    background: #333;
    color: #aaa;
    font-weight: 400;
}

tr:hover {
    background-color: #333;
    color: #aaa;
}

/* Forms */
input[type="search"],
input[type="url"],
input[type="password"],
input[type="text"] {
    border: 1px solid #555;
    background: #333;
    color: #ccc;
}

input[type="search"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="text"]:focus {
    color: #efefef;
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
}

/* Buttons */
.button-primary {
    border-color: #444;
    background: #333;
    color: #efefef;
}

.button-primary:hover,
.button-primary:focus {
    border-color: #888;
    background: #555;
}

/* Alerts */
.alert,
.alert-success,
.alert-error,
.alert-info,
.alert-normal {
    color: #efefef;
    background-color: #333;
    border-color: #444;
}

/* Panel */
.panel {
    background: #333;
    border-color: #555;
    color: #9b9b9b;
}

/* Modals */
#modal-left {
    background: #333;
    color: #efefef;
    box-shadow: 0 0 10px rgba(82, 168, 236, 0.6);
}

/* Keyboard Shortcuts */
.keyboard-shortcuts li {
    color: #9b9b9b;
}

/* Counters */
.counter-wrapper {
    color: #bbb;
}

/* Category label */
.category {
    color: #efefef;
    background-color: #333;
    border-color: #444;
}

.category a {
    color: #999;
}

.category a:hover,
.category a:focus {
    color: #aaa;
}

/* Pagination */
.pagination a {
    color: #aaa;
}

.pagination-bottom {
    border-color: #333;
}

/* List view */
.item {
    border-color: #666;
    padding: 4px;
}

.item.current-item {
    border-width: 2px;
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
}

.item-title a {
    font-weight: 400;
}

.item-status-read .item-title a {
    color: #666;
}

.item-status-read .item-title a:focus,
.item-status-read .item-title a:hover {
    color: rgba(82, 168, 236, 0.6);
}

.item-meta a:hover,
.item-meta a:focus {
    color: #aaa;
}

.item-meta li:after {
    color: #ddd;
}

/* Feeds list */
article.feed-parsing-error {
    background-color: #343434;
}

.parsing-error {
    color: #eee;
}

/* Entry view */
.entry header {
    border-color: #333;
}

.entry header h1 a {
    color: #bbb;
}

.entry-content,
.entry-content p, ul {
    color: #999;
}

.entry-content pre,
.entry-content code {
    color: #fff;
    background: #555;
    border-color: #888;
}

.entry-content q {
    color: #777;
}

.entry-enclosure {
    border-color: #333;
}
