body,
.entry-content,
.entry-content blockquote,
.entry-content q {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.entry-content {
    font-size: 1.17em;
    font-weight: 400;
}
