{{ define "homepage_menu" }}
<nav aria-label="{{ t "page.feeds.title" }} {{ t "menu.title" }}"><ul>
    <li>
        <a class="page-link" href="/">{{ icon "home" }}{{ t "menu.home_page.home" }}</a>
    </li>
    <li>
        <a class="page-link" href="/c">{{ icon "categories" }}{{ t "menu.home_page.categories" }}</a>
    </li>
    <li>
        <a class="page-link" href="https://www.tampadevs.com?utm_source=td_news&utm_campaign=organic">{{ icon "about" }}{{ t "menu.home_page.tampa_devs" }}</a>
    </li>
    <li>
        <a class="page-link" href="https://talent.tampa.dev?utm_source=td_news&utm_campaign=organic">{{ icon "about" }}{{ t "menu.home_page.tampa_devs_talent" }}</a>
    </li>
    <li>
        <a class="page-link" href="https://tampa.dev?utm_source=td_news&utm_campaign=organic">{{ icon "users" }}{{ t "menu.home_page.tampa_dot_dev" }}</a>
    </li>
</ul></nav>
{{ end }}
