{{ define "item_meta_public" }}
<div class="item-meta">
    <ul class="item-meta-info">
        <li class="item-meta-info-title">
            <a href="{{ .entry.Feed.SiteURL }}" title="{{ .entry.Feed.SiteURL }}" data-feed-link="true">{{ truncate .entry.Feed.Title 35 }}</a>
        </li>
        <li class="item-meta-info-timestamp">
            <time datetime="{{ isodate .entry.Date }}" title="{{ isodate .entry.Date }}">{{ elapsed "UTC" .entry.Date }}</time>
        </li>
        <li class="item-meta-info-reading-time">
            <span>
            {{ plural "entry.estimated_reading_time" .entry.ReadingTime .entry.ReadingTime }}
            </span>
        </li>
    </ul>
    <ul class="item-meta-icons">
        
        {{ if .entry.ShareCode }}
            <li class="item-meta-icons-share">
                <a href="{{ route "sharedEntry" "shareCode" .entry.ShareCode }}"
                    aria-describedby="entry-title-{{ .entry.ID }}"
                    title="{{ t "entry.shared_entry.title" }}"
                    target="_blank">{{ icon "share" }}<span class="icon-label">{{ t "entry.shared_entry.label" }}</span></a>
            </li>
        {{ end }}

        {{ if .entry.CommentsURL }}
            <li class="item-meta-icons-comments">
                <a href="{{ .entry.CommentsURL | safeURL  }}"
                    aria-describedby="entry-title-{{ .entry.ID }}"
                    title="{{ t "entry.comments.title" }}"
                    target="_blank"
                    rel="noopener noreferrer"
                    referrerpolicy="no-referrer"
                    data-comments-link="true">{{ icon "comment" }}<span class="icon-label">{{ t "entry.comments.label" }}</span></a>
            </li>
        {{ end }}
    </ul>
</div>
{{ end }}
